<footer>
  <hr>
  {{>sign-off}}
  <hr>
  <p>Curated and created with much love, tears and sweat, by <a target="_blank" href="https://twitter.com/@rem">Remy</a> &amp; <a target="_blank" href="https://twitter.com/@julieanne">Julie</a> of <a target="_blank" href="https://leftlogic.com">Left Logic</a></p>
  <p>Previous years:
      <a target="_blank" href="https://2016.ffconf.org">2016</a>
      <a target="_blank" href="https://2015.ffconf.org">2015</a>
      <a target="_blank" href="https://2014.ffconf.org">2014</a>
      <a target="_blank" href="https://2013.ffconf.org">2013</a>
      <a target="_blank" href="https://2012.ffconf.org">2012</a>
      <a target="_blank" href="https://2011.ffconf.org">2011</a>
      <a target="_blank" href="https://2010.ffconf.org">2010</a>
      <a target="_blank" href="https://2009.ffconf.org">2009</a>
  </p>
</footer>
<script>
window.onscroll = e => {
  requestAnimationFrame(() => {
    document.documentElement.style.setProperty('--h1-offset-x', ((window.scrollY/10) + 4) + 'px');
    document.documentElement.style.setProperty('--h1-offset-y', ((window.scrollY/20) + 4) + 'px');
  })
};
</script>
