<div id="subscribe">
  <h1>Get our announcements</h1>
  <p>Subscribe and you'll hear the very latest news first about all our events.</p>
  <form action="https://tinyletter.com/leftlogic" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/leftlogic', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p>
      <input type="email" placeholder="you@email" name="email" id="tlemail" />
      <input type="hidden" value="1" name="embed" />
      <input class="btn" type="submit" value="Subscribe for updates" />
    </p>
  </form>
</div>
