<!DOCTYPE html>
<html lang="en">
<head>
  <title>ffconf2017 :: JavaScript conference</title>
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="/images/512.png">
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  {{#if env.ANALYTICS}}
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', '{{env.ANALYTICS}}', 'auto');
  ga('send', 'pageview');
  </script>
  {{/if}}
</head>

<body>
  {{> header}}
  <main role="main">
  {{{body}}}
  </main>
  {{>footer}}
</body>
</html>
