$c-white: #FFF;
$c-black: #000;
$c-grey: #4D515A;
$c-grey-light: #D7D7D7;
$c-red: #F00;
$c-magenta: #F30569;
$c-yellow: #FEFF00;
$c-green: #0F0;
$c-cyan: #0EFFFF;
$c-blue: #1800FF;
$c-purple: #9200FF;
$c-fuchsia: #F305E8;


// fonts
// Fira Mono regular https://fonts.google.com/specimen/Fira+Mono?selection.family=Fira+Mono
// VCR OSD Mono http://www.dafont.com/vcr-osd-mono.font
$f-main: 'ff Fira Mono', monospace;
$f-title: 'ff VCR OSD Mono', monospace;

$w-content: 840px;