*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

abbr {
  border-bottom: 1px dashed #000;
  text-decoration: none; }

/* Reset */
h1, h2, h3, h4,
p, strong, em, cite,
ul, ol, li {
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

svg {
  fill: currentColor; }

/* Typography
   ========================================================================== */
html {
  font: 18px/25px "ff Fira Mono", monospace; }

.nav-list a,
.button,
.session-speaker-twitter,
.workshop-speaker-name,
.location a {
  text-decoration: none; }

.nav-list a,
.button,
.quote a,
.section-title,
.break,
.session-header,
.workshop-title,
.workshop-speaker-name,
.location-title,
.sponsor-title,
.monty-available a,
.scholarship h3,
.diversity h3,
.cfp h3,
.footer-title {
  font-family: "ff VCR OSD Mono", monospace;
  text-transform: uppercase; }

.section-title,
.session-title:before,
.monty-1st .sponsor-title {
  font-size: 28px; }

.break,
.session-title,
.session-time,
.monty-2nd .sponsor-title {
  font-size: 23px; }

.quote a {
  font-size: 14px;
  text-decoration: none; }

.footer {
  font-size: 12px; }
  .footer-title:before {
    content: ':: '; }
  .footer p {
    padding: 1em 0; }

.previous-years__title {
  font-size: inherit; }

.location,
.location a {
  text-transform: uppercase; }

.location-description {
  font-size: 14px; }

/* Colors
   ========================================================================== */
.page-home {
  background: #1800FF;
  color: #D7D7D7; }
  .page-home .wrapper {
    background: #4D515A; }
  .page-home .button {
    box-shadow: inset 0 0 0px 2px #FFEB3B;
    color: #FEFF00; }
  .page-home .tickets-button {
    box-shadow: none;
    background: #0EFFFF;
    color: #1800FF; }
    .page-home .tickets-button:hover, .page-home .tickets-button:focus, .page-home .tickets-button:active {
      background: #FFF;
      color: #9200FF; }

/* Colors
   ========================================================================== */
.page-sessions {
  background: #FEFF00;
  color: #FFF; }
  .page-sessions a:hover, .page-sessions a:focus, .page-sessions a:active {
    color: #0EFFFF; }
  .page-sessions .wrapper {
    background: #1800FF; }
  .page-sessions .tickets-button {
    background: #0EFFFF;
    color: #1800FF; }
    .page-sessions .tickets-button:hover, .page-sessions .tickets-button:focus, .page-sessions .tickets-button:active {
      background: #FFF;
      color: #9200FF; }
  .page-sessions .nav-list a.selected {
    border-bottom-color: #0EFFFF; }
  .page-sessions .section-title {
    color: #0EFFFF; }
  .page-sessions .schedule-title,
  .page-sessions .session-title {
    color: #FEFF00; }
  .page-sessions .sub-hr {
    border-color: rgba(14, 255, 255, 0.5); }
  .page-sessions .session-header a {
    color: #0EFFFF; }
    .page-sessions .session-header a:hover, .page-sessions .session-header a:focus, .page-sessions .session-header a:active {
      color: #FEFF00; }
  .page-sessions .sponsor {
    box-shadow: 4px 4px 0 0 #0EFFFF; }
    .page-sessions .sponsor-title {
      color: #FEFF00; }
  .page-sessions .quote-wrapper {
    color: #1800FF; }
  .page-sessions .quote-image-wrapper:after, .page-sessions .quote-content-wrapper {
    background: #0EFFFF; }
  .page-sessions .quote-image {
    border-color: #FEFF00; }
  .page-sessions .quote a:hover, .page-sessions .quote a:focus, .page-sessions .quote a:active {
    color: #9200FF; }

.page-workshops {
  background: #1800FF;
  color: #1800FF; }
  .page-workshops a:hover, .page-workshops a:focus, .page-workshops a:active {
    color: #9200FF; }
  .page-workshops .wrapper {
    background: #0EFFFF; }
  .page-workshops .tickets-button {
    background: #1800FF;
    color: #0EFFFF; }
    .page-workshops .tickets-button:hover, .page-workshops .tickets-button:focus, .page-workshops .tickets-button:active {
      background: #F30569;
      color: #1800FF; }
  .page-workshops .nav-list a.selected {
    border-bottom-color: #F30569; }
  .page-workshops .section-title {
    color: #1800FF; }
  .page-workshops .sponsor {
    box-shadow: 4px 4px 0 0 #1800FF; }
    .page-workshops .sponsor-title {
      color: #1800FF; }
  .page-workshops .quote-wrapper {
    color: #1800FF; }
  .page-workshops .quote {
    color: #FEFF00; }
    .page-workshops .quote-image-wrapper:after, .page-workshops .quote-content-wrapper {
      background: #1800FF; }
    .page-workshops .quote-image {
      border-color: #FEFF00; }
    .page-workshops .quote a:hover, .page-workshops .quote a:focus, .page-workshops .quote a:active {
      color: #0EFFFF; }
  .page-workshops .footer {
    color: #FFF; }
  .page-workshops .workshop-header {
    background: #F30569;
    color: #FEFF00; }
    .page-workshops .workshop-header .button {
      background: #FFF;
      color: #F30569; }
      .page-workshops .workshop-header .button:hover, .page-workshops .workshop-header .button:focus, .page-workshops .workshop-header .button:active {
        background: #0EFFFF; }
  .page-workshops .workshop-summary:nth-of-type(even) .workshop-header {
    background: #1800FF; }
    .page-workshops .workshop-summary:nth-of-type(even) .workshop-header .button {
      color: #1800FF; }
  .page-workshops .workshop-speaker-name {
    color: #FFF; }

.page-locations {
  background: #D7D7D7;
  color: #FFF; }
  .page-locations a:hover, .page-locations a:focus, .page-locations a:active {
    color: #F30569; }
  .page-locations .wrapper {
    background: #4D515A; }
  .page-locations .tickets-button {
    background: #0F0;
    color: #4D515A; }
    .page-locations .tickets-button:hover, .page-locations .tickets-button:focus, .page-locations .tickets-button:active {
      background: #1800FF;
      color: #0F0; }
  .page-locations .nav-list a.selected {
    border-bottom-color: #0F0; }
  .page-locations .section-title {
    color: #0F0; }
  .page-locations .sponsor {
    box-shadow: 4px 4px 0 0 #0F0; }
    .page-locations .sponsor-title {
      color: #0F0; }
  .page-locations .quote-wrapper {
    color: #4D515A; }
  .page-locations .quote {
    color: #4D515A; }
    .page-locations .quote-image-wrapper:after, .page-locations .quote-content-wrapper {
      background: #0F0; }
    .page-locations .quote-image {
      border-color: #FEFF00; }
    .page-locations .quote a:hover, .page-locations .quote a:focus, .page-locations .quote a:active {
      color: #9200FF; }
  .page-locations .footer {
    color: #FFF; }
  .page-locations .location-title {
    color: #0F0; }
  .page-locations .location-logo {
    color: #0F0; }

.page-diversity {
  background: #F30569;
  color: #FFF; }
  .page-diversity a:hover, .page-diversity a:focus, .page-diversity a:active {
    color: #F30569; }
  .page-diversity .wrapper {
    background: #9200FF; }
  .page-diversity .tickets-button {
    background: #FEFF00;
    color: #9200FF; }
    .page-diversity .tickets-button:hover, .page-diversity .tickets-button:focus, .page-diversity .tickets-button:active {
      background: #F30569;
      color: #FEFF00; }
  .page-diversity .nav-list a.selected {
    border-bottom-color: #FEFF00; }
  .page-diversity .section-title,
  .page-diversity .diversity h3 {
    color: #FEFF00; }
  .page-diversity .sponsor {
    box-shadow: 4px 4px 0 0 #FEFF00; }
    .page-diversity .sponsor-title {
      color: #FEFF00; }
  .page-diversity .quote-wrapper {
    color: #1800FF; }
  .page-diversity .quote {
    color: #1800FF; }
    .page-diversity .quote-image-wrapper:after, .page-diversity .quote-content-wrapper {
      background: #FEFF00; }
    .page-diversity .quote-image {
      border-color: #0EFFFF; }
    .page-diversity .quote a:hover, .page-diversity .quote a:focus, .page-diversity .quote a:active {
      color: #F30569; }
  .page-diversity .footer {
    color: #FFF; }

.page-cfp {
  background: #0EFFFF;
  color: #FFF; }
  .page-cfp a:hover, .page-cfp a:focus, .page-cfp a:active {
    color: #0EFFFF; }
  .page-cfp .wrapper {
    background: #F305E8; }
  .page-cfp .tickets-button {
    background: #FEFF00;
    color: #F305E8; }
    .page-cfp .tickets-button:hover, .page-cfp .tickets-button:focus, .page-cfp .tickets-button:active {
      background: #F30569;
      color: #FEFF00; }
  .page-cfp .nav-list a.selected {
    border-bottom-color: #FEFF00; }
  .page-cfp .section-title,
  .page-cfp .cfp h3,
  .page-cfp .cfp li:before {
    color: #FEFF00; }
  .page-cfp .sponsor {
    box-shadow: 4px 4px 0 0 #FEFF00; }
    .page-cfp .sponsor-title {
      color: #FEFF00; }
  .page-cfp .quote-wrapper {
    color: #1800FF; }
  .page-cfp .quote {
    color: #1800FF; }
    .page-cfp .quote-image-wrapper:after, .page-cfp .quote-content-wrapper {
      background: #0EFFFF; }
    .page-cfp .quote-image {
      border-color: #FEFF00; }
    .page-cfp .quote a:hover, .page-cfp .quote a:focus, .page-cfp .quote a:active {
      color: #F30569; }
  .page-cfp .footer {
    color: #FFF; }

.page-scholarship {
  background: #1800FF;
  color: #FFF; }
  .page-scholarship a:hover, .page-scholarship a:focus, .page-scholarship a:active {
    color: #0EFFFF; }
  .page-scholarship .wrapper {
    background: #F30569; }
  .page-scholarship .tickets-button {
    background: #FEFF00;
    color: #1800FF; }
    .page-scholarship .tickets-button:hover, .page-scholarship .tickets-button:focus, .page-scholarship .tickets-button:active {
      background: #0EFFFF;
      color: #F30569; }
  .page-scholarship .nav-list a.selected {
    border-bottom-color: #FEFF00; }
  .page-scholarship .section-title,
  .page-scholarship .scholarship h3,
  .page-scholarship .scholarship li:before {
    color: #FEFF00; }
  .page-scholarship .sponsor {
    box-shadow: 4px 4px 0 0 #FEFF00; }
    .page-scholarship .sponsor-title {
      color: #FEFF00; }
  .page-scholarship .quote-wrapper {
    color: #1800FF; }
  .page-scholarship .quote {
    color: #1800FF; }
    .page-scholarship .quote-image-wrapper:after, .page-scholarship .quote-content-wrapper {
      background: #FEFF00; }
    .page-scholarship .quote-image {
      border-color: #0EFFFF; }
    .page-scholarship .quote a:hover, .page-scholarship .quote a:focus, .page-scholarship .quote a:active {
      color: #F30569; }
  .page-scholarship .footer {
    color: #FFF; }

/* Grid
   ========================================================================== */
.wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  margin: 5% auto;
  max-width: 1024px;
  padding: 0;
  width: 90%; }

/* Header
   ========================================================================== */
.nav-main-wrapper {
  width: 100%; }

.logo-link {
  display: block;
  margin: 0 auto;
  width: 50%; }

.logo {
  display: block;
  max-height: 45vw;
  padding: 1em 0;
  width: 100%; }

.nav-list li {
  padding-bottom: .5em;
  text-align: center; }

.nav-list a {
  display: inline-block;
  padding: .5em 0 0;
  text-align: center; }
  .nav-list a.selected {
    border-bottom-style: solid;
    border-bottom-width: 2px; }

.button {
  display: inline-block;
  padding: .75em 1.5em;
  text-align: center; }
  .button svg {
    display: inline-block;
    height: .7em;
    margin-right: 1em;
    width: .7em; }

.tickets-button {
  display: block;
  padding: 15px 0; }

/* Sections
   ========================================================================== */
.main-wrapper {
  margin-top: 2em; }

.session-wrapper,
.workshop-wrapper,
.monty {
  padding: 25px 0; }

.section-title {
  margin-bottom: 2em; }

.section-title-logo {
  height: 2em;
  width: 2em; }

.masthead,
.main,
.quote-wrapper {
  margin-left: 2em;
  margin-right: 2em; }

/* Non Speaker Session
   ========================================================================== */
.schedule-logo {
  height: 2em;
  margin-right: 1em;
  vertical-align: middle;
  width: 2em; }

/* Speaker Session
   ========================================================================== */
.sessions-wrapper {
  counter-reset: session; }

.sub-hr {
  border-top: 2px dashed; }
  .sub-hr:first-child {
    border-top-style: solid; }
  .sub-hr:last-child {
    border-bottom-style: solid;
    border-bottom-width: 2px; }

.session-header-line {
  margin-bottom: 1em; }

.sessions-titles .session-about-wrapper {
  padding-left: 60px;
  position: relative; }

.sessions-titles .session-title:before {
  counter-increment: session;
  content: "/0" counter(session);
  left: 0;
  position: absolute; }

.session-speaker-name span {
  margin-right: 1em; }

.session-links {
  margin: 12.5px 0; }
  .session-links a {
    display: block; }

.session-speaker-twitter:before {
  content: 't:';
  text-transform: lowercase; }

/* Workshops
   ========================================================================== */
.workshop-header {
  padding: .5em; }

.workshop-header-image-wrapper {
  display: none; }

.workshop-wrapper .button {
  margin: 25px 0 9px; }

.workshop-full .workshop-details,
.workshop-content p {
  padding-top: 25px; }

.workshop-full {
  margin-top: 25px;
  padding-top: 50px; }
  .workshop-full:first-of-type {
    border-top: 0 none;
    margin-top: 0;
    padding-top: 25px; }

/* Locations
   ========================================================================== */
.locations {
  padding-bottom: 25px; }
  .locations > li {
    margin-top: 50px; }

.location {
  display: flex;
  margin-top: 25px; }

.location-logo {
  height: 1.5em;
  margin-right: 2px;
  margin-top: 5px;
  width: 1.5em; }

/* Scholarship
   ========================================================================== */
.scholarship {
  padding-bottom: 3em; }
  .scholarship p, .scholarship ol {
    padding-bottom: 2em; }
  .scholarship ol {
    margin-left: 2em; }
  .scholarship li {
    list-style-type: decimal;
    padding: .5em 0; }
  .scholarship h3 {
    padding-bottom: 1em; }

/* Cfp
   ========================================================================== */
.cfp {
  padding-bottom: 3em; }
  .cfp p, .cfp ul {
    padding-bottom: 2em; }
  .cfp ul {
    margin-left: 1em; }
  .cfp li {
    padding: .5em 0; }
    .cfp li:before {
      content: '\25A0';
      padding-right: 1em; }
  .cfp h3 {
    padding-bottom: 1em; }

/* Diversity
   ========================================================================== */
.diversity {
  padding-bottom: 3em; }
  .diversity p {
    padding-bottom: 2em; }
  .diversity h3 {
    padding-bottom: 1em; }

/* Sponsors
   ========================================================================== */
.main-sponsors {
  margin: 0 auto;
  max-width: 840px;
  width: 80%; }

.monty {
  padding-top: 0;
  text-align: center; }
  .monty:first-child {
    padding-top: 25px; }

.sponsor {
  background: #FFF;
  height: 150px;
  margin: 25px auto;
  max-width: 240px;
  width: 100%; }
  .sponsor a {
    display: block;
    height: 100%;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 100%; }
    .sponsor a:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  .sponsor img {
    border: 0 none;
    max-height: 100%;
    max-width: 100%;
    text-transform: uppercase;
    vertical-align: middle; }
    .sponsor img::after {
      align-items: center;
      background: #FFF;
      bottom: 0;
      content: attr(alt);
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }

.monty-available a {
  display: block;
  padding-top: 25px; }

/* Footer
   ========================================================================== */
.footer {
  background: rgba(0, 0, 0, 0.2);
  color: inherit;
  padding: 2em; }

.previous-years__title,
.previous-years__list,
.previous-years__item {
  display: inline-block; }

.previous-years__title {
  margin: 0; }

/* Quotes
   ========================================================================== */
.quote-wrapper {
  text-align: center; }

.quote {
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .quote-image-wrapper {
    margin: 0 auto;
    max-width: 136px;
    position: relative;
    width: 30%; }
    .quote-image-wrapper:after {
      bottom: 0;
      content: '';
      display: block;
      height: 50%;
      left: -50vw;
      position: absolute;
      right: -50vw; }
  .quote-image {
    background-size: cover;
    border: 3px solid;
    padding-top: calc(100% - 6px);
    position: relative;
    z-index: 1; }
  .quote-content-wrapper {
    padding: 1em 0; }
  .quote p {
    margin: 0 auto;
    max-width: 840px;
    padding-bottom: 1em;
    width: 80%; }
    .quote p:before {
      content: '\201C'; }
    .quote p:after {
      content: '\201D'; }
  .quote a, .quote a:link, .quote a:visited {
    color: inherit; }

/* Homepage
   ========================================================================== */
.page-home {
  background: url(/images/home-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex; }
  .page-home body {
    align-self: center;
    min-height: 720px;
    display: flex;
    flex-direction: column; }
  .page-home .main-wrapper {
    margin-top: 0;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%; }
  .page-home h1 .logo {
    height: 100%;
    width: 100%;
    max-height: none;
    padding: 0; }
  .page-home h2 {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .page-home .home {
    align-self: center;
    width: 40%; }
  .page-home .tickets-button {
    padding: 0 1.05em 0 1rem;
    margin-left: 1.4rem;
    display: inline-block; }

/* Mediaqueries
   ========================================================================== */
/* 320px 1x
   ========================================================================== */
@media all and (min-width: 320px) {
  .session-links {
    margin: 25px 0; }
    .session-links a {
      display: inline;
      margin-right: 2em; } }

/* 425px 1x
   ========================================================================== */
@media all and (min-width: 425px) {
  .workshop-list {
    font-size: 0; }
    .workshop-list li {
      display: inline-block;
      font-size: 1rem;
      vertical-align: top;
      width: 47.5%; }
      .workshop-list li:nth-child(odd) {
        margin-right: 5%; } }

/* 640px 1x
   ========================================================================== */
@media all and (min-width: 640px) {
  .break,
  .session-header-line {
    display: flex; }
  .break {
    align-items: center; }
  .session-links {
    margin: 0; }
    .session-links a {
      margin-right: 0; }
    .session-links a + a {
      margin-left: 2em; }
  .schedule-title,
  .session-title {
    min-width: 0;
    word-wrap: break-word; }
  .session-time,
  .session-links {
    flex: 0 0 auto;
    margin-left: auto; }
  .location-description {
    float: right; }
  .workshop-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    text-align: center; }
  .workshop-header-content {
    align-self: center;
    padding: 50px;
    width: 50%; }
  .workshop-header-image-wrapper {
    display: block;
    position: relative;
    width: 50%; }
  .workshop-header-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; } }

/* 768px 1x
   ========================================================================== */
@media all and (min-width: 768px) {
  .button {
    line-height: 50px;
    padding-bottom: 0;
    padding-top: 0; }
  .nav-main {
    align-items: center;
    display: flex; }
  .logo-wrapper {
    order: 1; }
  .logo-link {
    width: 50px; }
  .logo {
    height: 61px; }
  .nav-list {
    height: auto;
    margin: 0 0 0 auto;
    overflow: auto;
    position: static;
    order: 2;
    display: flex;
    flex-direction: row; }
    .nav-list li {
      display: inline-block;
      padding-bottom: calc(.5em - 2px);
      padding-left: .75em;
      padding-right: .75em; }
    .nav-list a {
      display: block; }
  .tickets-wrapper {
    order: 3; }
  .tickets-button {
    padding: 0 .5em;
    white-space: nowrap; }
  .sessions-wrapper {
    padding-bottom: 75px; }
  .session-wrapper {
    padding-bottom: 24px; }
  .session-speaker-img {
    background-position: 50% 50%;
    background-size: cover;
    height: 180px;
    margin: 0 40px 20px 0;
    width: 180px; }
  .session-speaker-img-wrapper,
  .session-about-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 100%; }
  .session-speaker-img-wrapper {
    width: 167px; }
  .session-links a {
    margin-right: 0; }
  .session-links a + a {
    margin-left: 2em; }
  .workshop-wrapper {
    padding-top: 0; }
    .workshop-wrapper .button {
      margin-bottom: 0;
      margin-top: 50px; }
  .workshop-full {
    margin-top: 0;
    padding-bottom: 100px;
    padding-top: 100px; }
    .workshop-full:first-of-type {
      padding-top: 0; }
  .workshop-header {
    height: 500px; }
    .workshop-full .workshop-header {
      margin-bottom: 100px; }
    .workshop-header .workshop-details {
      line-height: 2;
      padding-top: 0; }
  .workshop-summary {
    padding-bottom: 100px; }
  .workshop-content p:first-child {
    padding-top: 0; }
  .workshop-list h4 {
    margin-top: 30px; }
  .workshops-intro {
    padding-bottom: 100px; }
  .locations {
    font-size: 0;
    padding-bottom: 50px; }
    .locations > li {
      display: inline-block;
      font-size: 20px;
      margin-left: 40px;
      margin-top: 0;
      vertical-align: top;
      width: calc((100% - (40px * 2)) / 3); }
      .locations > li:first-child {
        margin-left: 0; }
  .location {
    margin-bottom: 50px;
    margin-top: 0; }
  .location-description {
    float: none; }
  .location-title {
    margin-bottom: 1em; }
  .main-sponsors {
    padding: 100px 0 0; }
  .monty {
    padding-bottom: 50px; }
    .monty:first-child {
      padding-top: 0; }
  .monty-available .sponsor-title {
    padding-bottom: 0; }
  .sponsors-wrapper {
    display: flex; }
  .sponsor {
    max-width: none; }
  .sponsor + .sponsor {
    margin-left: 25px; }
  .sponsor-1st {
    height: 150px;
    max-height: none;
    width: 50%; }
  .sponsor-2nd {
    height: 75px;
    width: 25%; }
  .sponsor-3rd {
    height: 50px;
    width: 20%; }
    .sponsor-3rd a {
      padding: 10px; }
    .sponsor-3rd + .sponsor-3rd {
      margin-left: 15px; } }
