block vars
  - var klass = 'page-sessions'

extends _partials/layout.jade

block content
  include _partials/quote

  div.main-wrapper
    include _partials/sessions
  +quote()

  div.main-wrapper
    include _partials/workshops-summary
  +quote()

  div.main-wrapper
    include _partials/locations
  +quote()

  div.main-wrapper
    include _partials/diversity
  +quote()
