block vars
  - var klass = 'page-cfp'
  - var ikons = ['bulb-small', 'code', 'heart-small', 'heart-large', 'help']
  - var page = 'cfp'
  - var card = 'twitter-card-cfp.png'

extends _partials/layout.jade

block content
  include _partials/quote

  div.main-wrapper
    include _partials/cfp
  +quote()
