block vars
  - var klass = 'page-home'
  - var ikons = []
  - var page = 'home'

extends _partials/layout.jade

block content
  include _partials/quote

  div.main-wrapper
    include _partials/cfp
  +quote()
