* {
  box-sizing: border-box;
}

html {
  background: #002b36;
  height: 100%;
  font-family: Menlo-RegularForPowerline, Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace;
  font-size: 1rem;
}

body {
  min-height: 100%;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 100%;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* flex: 1; */
}

pre {
  font-family: Menlo-RegularForPowerline, Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace;
  white-space: pre-wrap;
}

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

x-row {
  display: block;
  font-size: 16px;
  font-variant-ligatures: none;
  height: 100%;
  overflow: hidden;
  white-space: pre;
  width: 100%;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  color: rgb(131, 148, 150);
  background-color: transparent;
}

x-row {
  display: block;
  height: 19px;
  line-height: 1.2em;
}

.unicode-node {
    display: inline-block;
    vertical-align: top;
    width: 9.6328125px;
}

main, pre {
  font-size: 1.2rem;
  text-transform: lowercase;
}

main {
  background: url(border.gif) no-repeat;
  background-size: 100% 100%;
  padding: 50px;
  color: white;
  z-index: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

#yupwedidthis {
  pointer-events: none;
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}


.content > * {
  -ms-flex-preferred-size: 40%;
          -webkit-flex-basis: 40%;
          flex-basis: 40%;
  -ms-flex-negative: 1;
          -webkit-flex-shrink: 1;
          flex-shrink: 1;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}


.flex > * {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

main :first-child {
  margin-top: 0;
}

main :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {
  #thoughts {
    display: none;
  }

  #yupwedidthis {
    position: fixed;
  }

  .content > main {
    background-color: rgba(0, 43, 54, 0.63);
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
                -ms-grid-row-align: auto;
            align-self: auto;
  }

  input {
    width: 100% !important;
    margin: 5px 0;
  }
}

input {
  padding: 5px;
  font-size: 16px;
  border: 2px solid hotpink;
  background: white;
  font-family: Menlo-RegularForPowerline, Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace;
}

input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}


footer,
a {
  color: rgb(131, 148, 150);
}

a:hover {
  color: white;
}

footer {
  font-size: 80%;
  line-height: 1.5rem;
  margin-top: 30px;
}
