block vars
  - var klass = 'page-tickets'
  - var ikons = []
  - var page = 'tickets'
  - var stripped = true;

extends _partials/layout.jade

block content
  div.main-wrapper
    include _partials/tickets
