block vars
  - var klass = 'page-tickets'
  - var ikons = []
  - var page = 'tickets'
  - var stripped = true;

extends _partials/layout.jade

block content
  div.main-wrapper
    img(src="/images/twitter-card-280x150.png" hidden)
    include _partials/tickets
