block vars
  - var klass = 'page-workshops'
  - var ikons = []
  - var page = 'workshops'

extends _partials/layout.jade

block content
  include _partials/quote

  div.main-wrapper
    include _partials/workshops-summary
  +quote()