block varss
  - var workshop = public._data.workshops[1]
  - var card = 'twitter-card-next.png'
  - var title = 'ffconf :: next.js and how to create universal react apps'


block content
  include _partials/workshop-wrapper
