block varss
  - var card = 'twitter-card-angular.png'
  - var title = 'ffconf :: angular 5, what\'s new, graphql and more'
  - var workshop = public._data.workshops[0]

block content
  include _partials/workshop-wrapper
