div.aside-images
  .g.anna
    img(src="/images/hero/anna.png")
  .g.friends
    img(src="/images/hero/friends.png")
  .g.ice
    img(src="/images/hero/ice.png")
  .g.family
    img(src="/images/hero/family.png")
  .g.marcy
    img(src="/images/hero/marcy.png")
  .g.sara
    img(src="/images/hero/sara.png")
