- var date1 = moment(dates[0]);
- var date2 = moment(dates[1]);
- var when = date1.format('D') + ' & ' + date2.format('D-MMM')

footer.footer
  h4.footer-title Additional links
  nav.additional-links
    ul.inline__list
      each nav in allSiteNav
        if !nav.hide
          li
            a(href="#{nav.url}")= nav.title

  h4.footer-title Footnote
  p.blurb
    a(href='/') #ffconf
    |  is run twice on both #{when}, in Brighton, UK. Organised by Left Logic, a small Brighton (UK) based development company, specialising in Node based applications and bleeding edge front end technology.

  p.codeofconduct
    | By attending any of our events (workshops & conference & fringe events) you are agreeing to our <a href="/code-of-conduct">code of conduct</a>.

  p.curators
    | Curated and created with much love, tears and sweat by <a href="https://twitter.com/rem" target="_blank">Remy</a> & <a href="https://twitter.com/Julieanne" target="_blank">Julie</a> of <a href="http://leftlogic.com" target="_blank">Left&nbsp;Logic</a>

  nav.previous-years
    h5.previous-years__title Previous years:
    ul.previous-years__list
      - for (var i = 2009; i <= 2016; i++) {
        li.previous-years__item
          a.previous-years__link(href='https://' + i + '.ffconf.org/')= i
      - }
