- var menu = siteNav; // set in harp.json for multiline
- var text = {}
- text.intro1 = '1 day conference'
- text.intro2 = 'run twice'
- text.tag = '#ffconf'
- text.location1 = 'Duke of York\'s'
- text.location2 = 'Brighton, UK'
- text.date = 'November 9 & 10'
- var date1 = moment(dates[0]);
- var date2 = moment(dates[1]);
- var when = date1.format('D') + ' & ' + date2.format('D-MMM')
- var line = 'Tickets @ £179+VAT will be sold on the 20th July at 10am BST.'
- var button = 'On sale 20 July'
- var buy = false
- var buttonLink = false

if config.phase == 1
  if config.soldout.conference
    if config.soldout.workshops
      - line = 'Tickets are sold out.'
      - button = 'Sold Out'
      - buy = false
    else
      - line = 'Workshop (+conf pass) tickets available now.'
      - button = 'Tickets ' + when
      - buy = true
  else
    - line = 'Conference & workshop (+conf pass) tickets available to buy!'
    - button = 'Tickets ' + when
    - buy = true
if config.phase >= 2 && config.phase < 4
  if config.soldout.conference
    if config.soldout.workshops
      - line = 'All tickets for this years\' conference have been sold.'
      - button = 'Sold Out'
      - buy = false
    else
      - line = 'Workshop (+conf pass) available to buy. Last few remaining.'
      - button = 'Buy Tickets'
      - buy = true
  else
    - line = 'Conference & workshop (+conf pass) available now. Last chance batch.'
    - button = 'Buy Tickets'
    - buy = true
if config.phase == 4
    - line = ''
    - button = 'Watch Soon'
    - buttonLink = videos
    - buy = false


header.masthead(role='banner', class='phase-'+config.phase)

  div.nav-main-wrapper
    nav.nav-main(role='navigation')
      div.logo-wrapper
        a.logo-link(href='/' aria-label="f f conf")
          <svg class="logo"><use xlink:href="#icon-logo"></use></svg>
      div.tickets-wrapper
        if button != ''
          if buy
            a.button.tickets-button(href=ticketUrl)
              +icon('', 'arrow-right')
              =button
          else if buttonLink
            a.button.tickets-button(href=buttonLink)!= button
          else
            span.button.tickets-button!= button
      if config.phase >= 0.5
        ul.nav-list#nav-list
          each item in menu
            - var selected = ('/' + page === item.url) ? 'selected' : ''
            != ' '
            li
              a(data-scroll href=item.url class=selected)=item.title

