- var date1 = moment(dates[0]);
- var date2 = moment(dates[1]);
section.home.main(role='region', aria-labelledby='Home')
  h1(aria-label="f f conf")
    <svg class="logo"><use xlink:href="#logo-extended"></use></svg>
  h2
    span Twice:
    span
      time(datetime=date1.format('YYYY-MM-DDT09:00'))=date1.format('MMM')
        |&nbsp;
        =date1.format('D')
      |&nbsp;&amp;&nbsp;
      time(datetime=date2.format('YYYY-MM-DDT09:00'))=date2.format('D')

    span.conf-location Brighton, UK

  a.button(href="/sessions") Event info
  a.button.tickets-button(href=ticketUrl, target='_blank')
    <svg><use xlink:href="#icon-arrow-right"></use></svg>
    ="Get Tickets"
div.home-images