- var date1 = moment(dates[0]);
- var date2 = moment(dates[1]);
section.home.main(role='region', aria-labelledby='Home')
  h1(aria-label="f f conf")
    a(href="/sessions")
      include ../images/logo-extended.svg
  h2
    strong
      span Twice:
      span
        time(datetime=date1.format('YYYY-MM-DDT09:00'))=date1.format('MMM')
          |&nbsp;
          =date1.format('D')
        |&nbsp;&amp;&nbsp;
        time(datetime=date2.format('YYYY-MM-DDT09:00'))=date2.format('D')
      span.conf-location Brighton, UK
    br
    span Ticket release JULY 20 10:00

  a.button.cta(href="/sessions") Event info
  a.button.tickets-button(href=ticketUrl)
    <svg><use xlink:href="#icon-arrow-right"></use></svg>
    span Get
    ="Tickets"
div.home-images
  .g.anna
    img(src="/images/hero/anna.png")
  .g.friends
    img(src="/images/hero/friends.png")
  .g.ice
    img(src="/images/hero/ice.png")
  .g.family
    img(src="/images/hero/family.png")
  .g.marcy
    img(src="/images/hero/marcy.png")
  .g.sara
    img(src="/images/hero/sara.png")
script(src="/js/css-polyfills.min.js")
