section.scholarship.main(role='region', aria-labelledby='diversity-scholarship')
  h2#scholarship.section-title(role='heading', aria-level='2')
    svg.section-title-logo
      use(xlink:href='#icon-heart-large')
    | Diversity Scholarships
  :marked
    This post outlines our diversity scholarships programme. It's entirely possible that this does not apply to you, my dear reader, but you still have an important role to play: please pass on the message and this link to help seek those out who can make use of the scholarships.

  h3.scholarship-title(role='heading', aria-level='3')
    svg.section-title-logo
      use(xlink:href='#icon-help')
    | What are the scholarships?

  :marked
    Scholarships are available for anyone in an under-represented group in tech. This includes (but is not limited to): people of colour, LGBTQIA+ people, women and disabled people.

    We have a limited number of scholarships available which includes a ticket to the day ffconf event, travel to Brighton (from your city) and hotel as required.

  h3.scholarship-title(role='heading', aria-level='3')
    svg.section-title-logo
      use(xlink:href='#icon-apply')
    | How to apply

  :marked
    Please answer the following questions and email [Julie](mailto:julie@leftlogic.com) or myself, [Remy](mailto:remy@leftlogic.com). You don't have to explain your personal situation to us (but you can of course, if you want to). We trust you in this point :)

    1.  Who are you?
    2.  Where would you be travelling from (airport or city)?
    3.  What do you do?
    4.  Why should you get a scholarship?

    Please note that your email will be treated with the utmost privacy, and we will not publicly announce who the diversity scholarships go to (though you're welcome to say so yourself).

    **Deadline for applications: Friday 9 September, 2016.**

  h3.scholarship-title(role='heading', aria-level='3')
    svg.section-title-logo
      use(xlink:href='#icon-help')
    | How to Help

  :marked
    You can start with spreading the word, sharing this post both on social media, but also any communities you might know that would benefit from.

    We will also be selling a diversity ticket on our ticket page which you can opt-in whether you want to be credited. In addition, we will allow you to donate an arbitrary amount towards the diversity fund (which helps with travel and hotels).

  h3.scholarship-title(role='heading', aria-level='3')
    svg.section-title-logo
      use(xlink:href='#icon-thumb-up')
    | Acknowledgements &amp; background

  :marked
    I've taken either some copy or inspiration from [SassConf]() and [OTSConf]().

    We created this scholarship in 2015, and you can read about the why in the [original post]().

    Again, if this doesn't apply to you, please please can you pass on the message and reach out to anyone you know that might benefit from one of these scholarship places.
