section#sponsors.main.main-sponsors(role='region', aria-labelledby='sponsors')

  each cat, key in public._data.sponsors
    if cat.list.length
      section.monty(class='monty-' + key)
        h3.sponsor-title(role='heading', aria-level='3')= capitalize(cat.title) + ' Sponsors'
        div.sponsors-wrapper
          each sponsor in cat.list
            figure.sponsor(class='sponsor-' + key)
              a(href=sponsor.url, target="_blank", title=sponsor.name)
                img(src='/images/sponsors/' + sponsor.img, alt=sponsor.name)

  if config.sponsorsAvailable
    section.monty(class='monty-available')
      h3.sponsor-title(role='heading', aria-level='3') Become a sponsor
      a(href="https://media.ffconf.org/2017/sponsor-pack.pdf", target="_blank") See our sponsorship pack &amp; get in touch today
