block vars
<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>

include ../images/logo.svg

if ikons.indexOf('apply') !== -1
  include ../images/icons/apply.svg

if ikons.indexOf('arrow-left') !== -1
include ../images/icons/arrow-left.svg

include ../images/icons/arrow-right.svg

if ikons.indexOf('bulb-large') !== -1
  include ../images/icons/bulb-large.svg

if ikons.indexOf('bulb-small') !== -1
  include ../images/icons/bulb-small.svg

if ikons.indexOf('bullet') !== -1
  include ../images/icons/bullet.svg

if ikons.indexOf('close') !== -1
  include ../images/icons/close.svg

if ikons.indexOf('code') !== -1
  include ../images/icons/code.svg

if ikons.indexOf('coffee') !== -1
  include ../images/icons/coffee.svg

if ikons.indexOf('heart-large') !== -1
  include ../images/icons/heart-large.svg

if ikons.indexOf('heart-small') !== -1
  include ../images/icons/heart-small.svg

if ikons.indexOf('help') !== -1
  include ../images/icons/help.svg

if ikons.indexOf('high-five') !== -1
  include ../images/icons/high-five.svg

if ikons.indexOf('location-large') !== -1
  include ../images/icons/location-large.svg

if ikons.indexOf('location-small') !== -1
  include ../images/icons/location-small.svg

if ikons.indexOf('lunch') !== -1
  include ../images/icons/lunch.svg

if ikons.indexOf('party') !== -1
  include ../images/icons/party.svg

if ikons.indexOf('question') !== -1
  include ../images/icons/question.svg

if ikons.indexOf('thumb-up') !== -1
  include ../images/icons/thumb-up.svg

</defs>
</svg>